body {
  background-color: black;
  color:white;
  text-align: center;
}
table{
  border: 1px rgb(94, 89, 89) solid;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 20px auto;
}

.cell {
  border: 1px rgb(17, 17, 17) solid;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
  
}

.formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
}

.modal{
  margin: auto;
  width: 400px;
  border: 1px solid white;
  background-color: rgb(85,26,139);
  opacity: 0.8;
  padding: 10px; 
}

.hidden{
  display: none;
}


.ghost{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.pacman{
  width: 20px;
}

.wall{
  width: 25px;
}

.circle{
  width: 7px;
}

button{
  color:rgb(11, 12, 12);
  background-color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 10%;
  border: none;
}

.btn{
  width: 50px;
  height: 50px;
  font-size:xx-large;
  margin: 10px;
  padding: 2px;
}